@model IEnumerable<CatExercise.Models.UserView>

@{
    ViewBag.Title = "Index";
}

<h2>Client</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pseudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seclevel)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Creationdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
         @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pseudo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seclevel)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Creationdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID  }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.UserID  })
        </td>
    </tr>
}

</table>