@model CatExercise.Models.CatThreadView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div class="row">
    <h1>@Model.Titre</h1>
</div>
<div class="row">
    <div class="col-sm-8">
        <div>
            <img src="@Model.UriPhoto" class="img-responsive" alt="photo du chat">
        </div>
    </div>

    <div class="col-sm-4">
        <div>
            <p>Crée par : @Model.UserName</p>
            <p>Le : @Model.CreationDate</p>
        </div>
    </div>
</div>

<div class="row">
    <div>
        <p>Commentaires :</p><br>
    </div>
</div>
@foreach (var item in Model.comments)
{


    <div class="row">
        <div class="col-md-4">@Html.DisplayFor(modelItem => item.UserName) <br><small>Le @Html.DisplayFor(modelItem => item.CreationDate)</small></div>
        <div class="col-md-7">@Html.DisplayFor(modelItem => item.Content)</div>

    </div>
        <div><br></div>

}

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
